                <footer>
                	<section id="dev-footer">
                		<div class="container-footer">
                			<p>
                					<span> <i class="fa fa-copyright" style="vertical-align: middle; font-size: 22px"></i>
                					YelpCamp </span>
                					<span> | Desenvolvimento - G.D.B @
                					<a href="https://www.facebook.com/guilherme.branco.790"> <i class="fa fa-facebook-square fa" style="vertical-align: middle; font-size: 22px"></i></a>
                					<a href="https://www.linkedin.com/in/guilherme-david-branco-1b4a4b137/"> <i class="fa fa-linkedin-square" style="vertical-align: middle; font-size: 22px"></i></a></span>
                    		        </p>
                		</div>
                	</section>
                </footer>
                <!-- JQUERY -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
                <!-- BOOSTRAP -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
                <!-- MODERNIZR -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js"></script>
                <!-- MOMENT -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.js"></script>
                <!-- Notify -->
                <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.js"></script>
                <!-- AJAX -->
                <script src="/javascript/ajax.js"></script>
        </body>
</html>