<!DOCTYPE html>
<html>
        <head>
                <title>YelpCamp</title>
                <meta name="viewport" content="width=device-width, initial-scale=1">
                <!-- BOOTSTRAP -->
                <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
                <!-- FONT AWESOME -->
                <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
                <!-- SEMANTIC UI ICONS -->
                <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/components/icon.css" />
                <!-- SELECT2 -->
                <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
                <link href="https://cdnjs.cloudflare.com/ajax/libs/select2-bootstrap-css/1.4.6/select2-bootstrap.css" rel="stylesheet" />
                <!-- CUSTOM CSS -->
                <link rel="stylesheet" href="/stylesheets/app.css">
                <link rel="stylesheet" href="/stylesheets/starability.css">
        </head>
        <body>
                <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                        <a class="navbar-brand" href="/">YelpCamp</a>
                
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mr-auto">
                                        <li class="nav-item">
                                        <a class="nav-link" href="/campgrounds">Camps</a>
                                        </li>
                                </ul>
                                <ul class="navbar-nav navbar-right">
                                <% if(!currentUser) {%>
                                        <li class="nav-item"><a href="/login" class="btn btn-outline-success">Login</a></li>
                                        <li class="nav-item"><a href="/register" class="btn btn-outline-info">Sign Up</a></li>
                                <% } else {%>
                                        <li class="nav-item"><a href="/profile/<%=currentUser._id%>" class="nav-link">Signed in as <%= currentUser.username %></a></li>
                                        <li class="nav-item"><a href="/profile/<%=currentUser._id%>/edit" class="btn btn-outline-info"><i class="fa fa-cog" aria-hidden="true"></i></a></li>
                                        <li class="nav-item"><a href="/logout" class="btn btn-outline-info">Logout</a></li>
                                <% } %>
                                </ul>
                        </div>
                </nav>